USE [master]
GO
/****** Object:  Database [School]    Script Date: 9.2.2015 г. 21:03:04 ч. ******/
CREATE DATABASE [School] ON  PRIMARY 
( NAME = N'School', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\School.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'School_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\School_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 9.2.2015 г. 21:03:04 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[MaxStudents] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 9.2.2015 г. 21:03:04 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([id], [Name], [MaxStudents]) VALUES (1, N'Math', 20)
INSERT [dbo].[Classes] ([id], [Name], [MaxStudents]) VALUES (2, N'History', 213)
INSERT [dbo].[Classes] ([id], [Name], [MaxStudents]) VALUES (3, N'Computer Science', 10)
SET IDENTITY_INSERT [dbo].[Classes] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([id], [Name], [Age], [PhoneNumber]) VALUES (1, N'Gosho', 12, N'+123213')
INSERT [dbo].[Students] ([id], [Name], [Age], [PhoneNumber]) VALUES (2, N'Pesho', 20, N'+324324')
INSERT [dbo].[Students] ([id], [Name], [Age], [PhoneNumber]) VALUES (3, N'Maria', 403, N'+23423')
SET IDENTITY_INSERT [dbo].[Students] OFF
USE [master]
GO
